@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"></meta>
    <title>Commande enregistrer</title>

</head>
<body style="background-image: url(../../Content/theme.jpg);">
    <br><br><br><br><br><br><br><br><br><br><br>
    <div>
        <h1 style="color: darkgoldenrod; margin-left: 300px; font-style: oblique; font-size: 300%; ">Merci! votre commande est en traitement.</h1>
    </div><br><br><br>


</body>
</html>
