
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About</title>
    <style>
        .topnav {
            overflow: hidden;
            background-color: black;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #04AA6D;
                    color: white;
                }
        div.divCent {
            margin: auto;
            width: 70%;
            padding: 10px;
        }
        h2 {
            text-decoration: overline;
        }
    </style>
</head>
<body>

    <div class="topnav">
        <img src="../../Content/logoWeb.jpeg" height="100" width="100" />
        <a href="Landing" style="float: right; margin-top:20px">Home</a>
    </div>

    <div class="divCent">
        <h2>About us</h2>
        <br />
        <div>
            <img src="../../Content/aboutimg.jpg" style="margin-left: 100px; border-radius: 8px; vertical-align: middle;" />
            <br /><br />
            <p>
                <h4 style="color:black">
                    Bonjour et bienvenue sur Shirtify, l'endroit où trouver les meilleurs t-shirts pour tous les goûts et toutes les occasions. Nous vérifions minutieusement la qualité de nos produits, en travaillant uniquement avec des fournisseurs fiables afin que vous ne receviez que le produit de la meilleure qualité.<br />
                </h4><br />
                <h4 style="color: black">
                    Chez Shirtify, nous croyons en un service client de haute qualité et exceptionnel. Mais plus important encore, nous pensons que le shopping est un droit, pas un luxe, nous nous efforçons donc de fournir les meilleurs produits aux prix les plus abordables et de vous les expédier quel que soit l'endroit où vous vous trouvez.
                    <br />
                </h4><br />
                     <h4 style="color: black">
                         Notre équipe est composée de 5 personnes : <br />
                         Kaoutar Sougrati <br />
                         Ayoub Madrir Soubai <br />
                         Fatine Fadli <br />
                         Mina Chouaf <br />
                         Nassima Boubeh<br />
                     </h4><br />
                <h4 style="color: black">
                    Nous vous remercions chers clients. Merci de nous avoir fait confiance !
                </h4>

            </p>
        </div>
    </div>



</body>
</html>

