
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Travel Website</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap"
          rel="stylesheet" />
    <style>
        * {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: url(bg_1.jpg) no-repeat;
  background-size: cover;
  color: black;
  font-family: "open sans";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*----------------NAVBAR------------*/
header {
  display: flex;
  justify-content: space-between;
  color: #ffce14;
  background: #0f2453;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "roboto";
  margin: 0 2rem;
}
header div i {
  font-size: 2rem;
  margin: 1rem;
}
header nav {
  padding: 1rem 2rem;
}
nav ul li {
  list-style: none;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}
nav li a {
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in;
}
nav li a:hover {
  background: #ffce14;
  color: black;
}
/*-------------TOP SECTION-------------*/
.titles {
  color: white;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}
.titles h1 {
  font-family: "roboto";
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 black;
  color: #ffce14;
}
.titles p {
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 black;
}
/*-------------BOTTOM SECTION-----------*/
        #div1, #div2 {
            display: inline;
        }

.container-boxes {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 80vw;
}
.box {
    width: 200px;
  background: #ffce14;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  max-height: 180px;
  min-height: 180px;
  transition: all 250ms ease-out;
}
.box:hover {
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-20%);
}
.box a {
  text-decoration: none;
  color: black;
}
.icon {
  font-size: 3rem;
  padding: 1rem;
}
.text h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  color: black;
}
.text p {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.text {
  padding: 0.5rem;
}


  .icon {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .text h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1rem;
  }
  .text p {
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
  }
  nav li a:hover {
    background: none;
    color: black;
  }


  body {
    height: 100%;
  }
  .container-boxes {
    flex-direction: column;
  }
  .box:hover {
    background: rgba(255, 255, 255, 0.7);
    transform: none;
  }
  .titles h1 {
    font-size: 3rem;
  }


    </style>
</head>
<body style="background-color:black" >
   
    <section class="titles">
        <h1>Bienvenu !</h1>
        <p>
            Voulez vous se connecter comme:
        </p>
    </section>
    <br /><br />
    <section class="container-boxes">
        <div class="box" id="div1">
            <div class="text">
                <a href="../Account/Login">
                    <h3>  Admin  </h3>
                   
                </a>
            </div>
        </div>

        <div class="box" id="div2">
            <div class="text">
                <a href="../Landing/Landing">
                    <h3>Utilisateur</h3>
                    
                </a>
            </div>
        </div>

    </section>
</body>
</html>


